{% extends "layout" %}
{% block title %}Index{% endblock title %}
{% block content %}
    <h1>What do you want to do?</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Init ticker</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
        <a href="/init" class="btn btn-primary">Init tickers</a>
      </div>
    </div>
{% endblock content %}

